{% extends 'base.html'%}
{% block content %}
<div class="container">
    <div class="row about">
        <div class="col-md-4 picture">
            <!-- Displaying profile photo -->
            {% if user.profile_pic_path %}
                <img src="{{url_for('static',filename = user.profile_pic_path)}}" alt="" class="img-thumbnail rounded-circle">
            {% else %}
            no pic
            {% endif %}

            {% if user == current_user %}
            <form action="{{url_for('main.update_pic',uname=user.username)}}" method="post" enctype="multipart/form-data">
                <input type="file" name="photo" class="form-control picture" required >
                <input type="submit" name="submit" value="Upload Picture">
            </form>
            {% endif %}
        </div>
        <div class="col-md-8 stats">
            <!-- Displaying user bio -->
            <h3 class="user-tag"> {{user.username|capitalize}} </h3>
            <hr>
            {% if user.bio %}
                <p> {{user.bio}} </p>
            {% else %}
                <p>{{user.username|capitalize}} has no bio</p>
            {% endif %}
            {% if user == current_user %}
            <a href="{{url_for('main.update_profile',uname=user.username)}}">Edit Bio</a>
            <br>
            {% endif %}
            <br>
            <h3>Stats</h3>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope='col'></th>
                        <th scope='col'>Stats</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Pitches</td>
                        <td>{{user.pitches.count()}}</td>
                    </tr>
                    <tr>
                        <td>Comments</td>
                        <td>{{user.comments.count()}}</td>
                    </tr>
                    <tr>
                        <td>Pitches Liked</td>
                        <td>{{user.likes.count()}}</td>
                    </tr>
                    <tr>
                        <td>Pitches Disliked</td>
                        <td>{{user.dislikes.count()}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
