body {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow-x: hidden;
}
*,
*
:before,
:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
/* ============================================================
                    NAVIGATION
============================================================ */
.navbar-nav li {
    list-style: none;
}
a.nav-item.nav-link.brand {
    margin-right: 20px;
    font-size: 20px;
    font-weight: bold;
}
.footer,
.navbar-brand {
    font-weight: bold;
    color: red;
}
.brand-img {
    height: 58px;
    width: 60px;
}
.top:hover,
.navbar-brand:hover, 
a.nav-item.nav-link.brand:hover {
    color: orange;
    text-decoration: none;
}
.footer,
.navbar {
    background-color: #000;
    height: 60px;
}
.footer,
.navbar-nav {
    margin-top: 1.5%;
}

.navbar .container {
    position: absolute;
    top: 0;
    left: 70px;
}
/* ============================================================
                       HOME
============================================================ */
.overflow {
    overflow: scroll;
    height: 250px;
    width: 1000px;
}
.brand-two {
    color: saddlebrown;
    background-color: rgba(250, 250, 250, 0.9);
    padding: 1px;
}
.wrapper{
    padding-top: 30px;
}
.wrapper-two {
    background-image: url('../photos/wreck-it-ralph-png-free-download.png');
    background-repeat: no-repeat;
    background-position: center right;
    height: 640px;
}
.wrapper-three {
    background-image: url('../photos/Super-Smash-Bros-Transparent.png');
    background-repeat: no-repeat;
    background-position: center left;
    height: 640px;
}
.wrapper-four {
    background-image: url('../photos/Download-Free-png-Wreck-It-Ralph-PNG-Photo-DLPNG.com.png');
    background-repeat: no-repeat;
    background-position: right;
    height: 640px;
}
.nav-tabs-right {
  text-align:right;
  float: center;
}
.nav-tabs-right > li {
  display:inline-block;
  float:none;
}
div.img-responsive.thumbnail.interview{
    height: 260px;
    width: 500px;
    background-image: url('../photos/interview.jpg');
    background-repeat: no-repeat;
    background-attachment: cover;

}
div.img-responsive.thumbnail.product{
    height: 260px;
    width: 500px;
    background-image: url('../photos/product.jpg');
    background-repeat: no-repeat;
    background-attachment: cover;
}
div.img-responsive.thumbnail.promotion{
    height: 260px;
    width: 500px;
    background-image: url('../photos/promotion.jpg');
    background-repeat: no-repeat;
    background-attachment: cover;
}
div.img-responsive.thumbnail.business{
    height: 260px;
    width: 500px;
    background-image: url('../photos/business.jpg');
    background-repeat: no-repeat;
    background-attachment: cover;
}
.media-body{
    border: 0px;
    border-top: 1 px solid;
}
div.card{
    border: 0px;
    padding-bottom: 1rem;
    border-radius: 30px;
    margin-bottom: 20px;
    width: 100%;
    background-color: rgba(250, 250, 250, 0.9);
}
hr{
    margin: 0px;
    margin-right: 100px;
}
section{
    margin-top: 10px;
}
.intro{
    margin-bottom: 20px;
}
h1, h2, h3, h4, h5, h6 {
  color: #444444;
}
.picture{
    border: 0px;
    padding: 0px;
    padding-bottom: 0px;
    padding-bottom: 10px;
}
.inline{
    display: inline-block;
}
.heading{
    margin-right: 350px;
}
.fas.fa-comment{
    padding-right:5px;
}
.far.fa-thumbs-up{
    padding-right: 5px;
}
.far.fa-thumbs-down{
    padding-right: 5px;
}

/* ===========================================================
                 REGISTRATION
=========================================================== */
.pitchit-form{
    box-shadow: 2px 4px 12px 2px #dcdcdc;
    margin-top: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #fff;
}
.pitchit-form h3{
    display: flex;
    justify-content: center;
}
input#submit.btn.btn-primary{
    margin-top: 10px;
}

/* ===========================================================
                     COMENTS
=========================================================== */
div.something{
    margin-left: 20px;

}

img.img-thumbnail.rounded-circle.comment{
    height: 80px;
}
.media-body{
    padding-top: 22px;
}
.pitchback{
    font-size: 12px;
}

.post {
    margin-top: 50px;
}
/* ===========================================================
                    FOOTER
=========================================================== */
.footer p span a {
    color: darkblue;
    text-decoration: none;
}
.footer p {
    margin-left: 30%;
    position: absolute;
    margin-top: 1.5%;    
}